:root {
    --headder-background: white;
    --svg-color: grey;
    --ligth-grey: lightgrey; 
    --primary-button-color: royalblue;
    --primary-button-hover: rgb(42, 87, 223);
    --default-color: black;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--svg-color);
    color: var(--default-color)
}

.nav {
    background-color: var(--headder-background);
    padding: 5px 30px 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.reddit-logo {
    width: 32px;
    float: left;
    padding-right: 8px;
    position: relative;
}

.reddit-logo svg{
    color: var(--default-color);
}

.reddit-name {
    width: 60px;    
    padding-right: 20px;
    color: var(--default-color)
}

.nav-search {
    background-color: var(--ligth-grey);
    display: flex;
    border-radius: 5px;
    flex: 1;
}

.nav-search input {
    margin: 5px 10px 5px 10px;
    background-color: inherit;
    outline: none;
    border-width: 0px;
    width: 100%;
}

.nav-search svg {
    float: left;
    width: 20px;
    opacity: 0.3;
    padding: 5px 0px 5px 15px;
}

.nav-login-signup-profile {
    display: flex;
    padding-left: 20px;
}

.nav-login-signup-profile .login{
    padding: 5px 10px;
    margin-right: 10px;
    background-color: var(--headder-background);
    border: 1px solid var(--primary-button-color);
    border-radius: 15px;
    color: var(--primary-button-color);
    font-weight: 800;
}

.nav-login-signup-profile .login:hover {
    cursor: pointer;
    background-color: var(--primary-button-color);
    color: var(--headder-background)
}

.nav-login-signup-profile .signup{
    padding: 5px 10px;
    background-color: var(--primary-button-color);
    border: 1px solid var(--primary-button-color);
    border-radius: 15px;
    color: var(--headder-background);
    font-weight: 800;
    margin-right: 4px;
}
.nav-login-signup-profile .signup:hover {
    cursor: pointer;
    background-color: var(--primary-button-hover);
}

.nav-login-signup-profile .profile{
    background-color: inherit;
    border: 1px solid var(--headder-background);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-login-signup-profile .profile:hover {
    border: 1px solid var(--svg-color);
    cursor: pointer;
}
.nav-login-signup-profile .profile svg {
    width: 25px;
    opacity: 0.4;
    padding: 0px 0px 0px 3px;
}

.nav-login-signup-profile .profile svg:last-child {
    width: 15px;
    padding-right: 5px;
}

@media (max-width: 690px) {
    .nav-login-signup-profile .login, .nav-login-signup-profile .signup {
        display: none;
    }
}
@media (max-width: 1070px) {
    .nav-logo {
        padding-right: 30px;
    }
    .nav-login-signup-profile{
        padding-right: 40px;
    }
    .reddit-name {
        display: none;
    }
}

.profile-drop-down {
    position: relative;
    top: -9px;
    right: 0px;
    width: 200px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--headder-background);
    border-radius: 5px;
    padding: 7px 0px;
}

.profile-drop-down .options {
    color: var(--svg-color);
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 0.3px;
    font-weight: 900;
    padding: 10px 15px;
}

.profile-drop-down .toggle-night-mode {
    outline: none;
    border: 2px solid var(--headder-background);
    background-color: var(--headder-background);
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.profile-drop-down .toggle-night-mode:hover {
    background-color: var(--primary-button-color);
    cursor: pointer;
}


.profile-drop-down .toggle-night-mode svg {
    color: var(--default-color);
    width: 20px;
    opacity: 0.45;
}



.profile-drop-down .toggle-night-mode .night-mode-lable {
    font-weight: 550;
    color: var(--svg-color);
    padding-left: 15px;
}

.profile-drop-down .toggle-night-mode:hover .night-mode-lable {
    color: var(--headder-background);
    opacity: 1;
}

.profile-drop-down .toggle-night-mode .night-mode-lable span {
    display: block;
    font-size: x-small;
    text-align: left;
    opacity: 0.7;
}

.profile-drop-down .toggle-night-mode .night-mode-lable svg {
    width: 13px;
    text-align: left;
    opacity: 0.4;
}
.profile-drop-down .toggle-night-mode:last-child {
    border-top: 1px solid var(--ligth-grey);
}

.profile-drop-down .toggle-night-mode:hover .night-mode-lable {
    color: var(--headder-background);
    opacity: 1;
}

.profile-drop-down .toggle-night-mode .night-toggle, 
.profile-drop-down .toggle-night-mode .toggled {
    position: relative;
    width: 30px;
    background-color: var(--ligth-grey);
    height: 17px; 
    border: 0px;
    border-radius: 10px;
    margin-left: auto;
}

.profile-drop-down .toggle-night-mode .night-toggle::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--headder-background);
    top: 1px;
    left: 1.5px;
    right: none;
    border-radius: 50%;
}

.profile-drop-down .toggle-night-mode .toggled::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--headder-background);
    top: 1px;
    border-radius: 50%;
    left: none;
    right: 1.5px;
}
.profile-drop-down .toggle-night-mode:hover .toggled::before {
    background-color: var(--default-color);
}

.profile-drop-down .toggle-night-mode:hover .toggled {
    background-color: var(--headder-background);
}